[submodule "penguin-app"]
	path = penguin-app
    url = https://github.com/Henrik-N/penguin-app
    branch = master
[submodule "penguin-config"]
	path = penguin-config
    url = https://github.com/Henrik-N/penguin-config
    branch = main
[submodule "penguin-config-derive"]
	path = penguin-config-derive
    url = https://github.com/Henrik-N/penguin-config-derive
    branch = main

